*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: rgb(1, 0, 22);
    color: white;
}

.container1
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow: auto; */
}

 .container1 img
{
    width: 90px;
    height: 90px;
}

 h1
{
     text-align: center;
     color: rgb(156, 161, 161);
     font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
     font-weight: 300;
}

.container2
{
   background-color: rgb(26, 25, 36);
   justify-content: center;
   align-items: center;
   width: 340px;
   height: 200px;
  margin: auto;
   padding-top: 2rem;
   margin-top: 1rem;
   border-radius: 4%;
   font-size: 15px;
  display: flex;
  flex-direction: column;
}
.formitems
{
    padding: 5px;
    margin: 5px auto;
    margin-left: 15px;
    width: 300px;
    height: 22px;
    border-radius: 0.4rem;
    border: 1px solid rgb(27, 27, 27);
    background-color: rgb(15, 14, 14);
    color: white;
}

.formitems:hover
{
    border: 0.1rem solid rgb(24, 99, 211);
    box-shadow: 1px 1px 1px  rgb(31, 78, 209);
}

input:focus {
	outline: none;
  	border: 1px solid red;
}

label
{
    margin-left: 15px ;
    margin-bottom: 5px;
    /* margin-bottom: 3px; */
}

label a
{
    font-size: 15px;
    text-decoration: none;
    margin-left: 40%;
    color: rgb(20, 170, 240);
}

.btn
{
    width: 300px;
    height: 30px;
    margin: 5px auto;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 20px;
    background-color: rgba(233, 44, 44, 0.575);
    font-weight: 200;
    color: white;
    border: 2px solid black;
    margin-top: 4%;
}

.btn:hover
{
    background-color: rgb(39, 207, 39);
}

.container3
{
   justify-content: center;
   align-items: center;
   width: 340px;
   height: 50px;
   margin:auto;
   margin-top: 1.5rem;
   border-radius: 10px;
   font-size: 15px;
   border: 0.5px solid rgb(151, 149, 149);
}

h3
{
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-left: 15%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    color: rgb(163, 161, 161);
}

h3 a
{
    text-decoration: none;
    color: rgb(23, 152, 226);
}

.last
{
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
    width: 350px;
}

nav ul
{
    display: flex;
}

 ul li
{
    list-style: none;
    margin: 10px;
}

li a
{
    color: rgb(16, 160, 243);
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

li a:hover
{
    text-decoration: underline;
}
